<ruleset name="openpublicmedia/pbs-membership-vault-php">
    <description>PBS Membership Vault PHP CodeSniffer configuration.</description>
    <arg name="extensions" value="php"/>
    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="parallel" value="75"/>
    <arg value="p"/>

    <config name="testVersion" value="8.0-" />

    <file>.</file>
    <exclude-pattern>vendor</exclude-pattern>

    <rule ref="PSR2" />
</ruleset>
